/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// colors
$body-bg: #ffffff;
$body-color: #000000;
$link-color: #FA2D48;
$input-bg: #ffffff;
$popover-bg: #ffffff;

// fonts
$font-family: 'Lato';

// code blocks
$btn-code-copy-color-active: #FA2D48;
$code-color: #FA2D48;

// navbar
$navbar-bg: #ffffff;