/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// colors
$body-bg: #1c1c1d;
$body-color: #ffffff;
$link-color: #FA2D48;
$input-bg: #1c1c1d;
$popover-bg: #1c1c1d;

// fonts
$font-family: 'Lato';

// code blocks
$btn-code-copy-color-active: #FA2D48;
$code-block-bg: #3a3a3a;
$code-bg: #3a3a3a;
$code-color: #FA2D48;

// navbar
$navbar-bg: #1c1c1d;
$navbar-fg: #ffffff;